

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-money"></i>
				</div><a href="#/#accountblock">
				<div class="title">5</div>
				<div class="comment">Accounts</div></a>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-th-list"></i>
				</div><a href="#/#creditblock">
				<div class="title">2</div>
				<div class="comment">Credit Cards</div></a>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-exchange"></i>
				</div><a href="#/#loanblock">
				<div class="title">1</div>
				<div class="comment">Loan</div></a>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-paperclip"></i>
				</div><a href="#/#docblock">
				<div class="title">17</div>
				<div class="comment">Documents</div></a>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6" id="accountblock">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="Account List">
				
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr><td><a href="#/tables">Ted's Checking</a></td><td>$2,122.12</td><td><span class="text-success"><i class="fa fa-arrow-circle-o-up"></i></span></td></tr>
							<tr><td><a href="#/tables">Family Checking</a></td><td>$1,567.23</td><td><span class="text-success"><i class="fa fa-arrow-circle-o-up"></i></span></td></tr>
							<tr><td><a href="#/tables">Emergency Fund</a></td><td>$5000.00</td><td><span tooltip="Server Down!"><i class="fa fa-arrow-circle-o-up"></i></span></td></tr>
							<tr><td><a href="#/tables">LT Savings</a></td><td>$13,002.28</td><td><span class="text-success"><i class="fa fa-arrow-circle-o-up"></i></span></td></tr>
							<tr><td><a href="#/tables">Kids College</a></td><td>$8,270.89</td><td><span class="text-success"><i class="fa fa-arrow-circle-o-up"></i></span></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6" id="docblock">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Popular Documents">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">Document #</th><th>Name</th><th>Date</th><th>Account</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">1454534</td><td>2014 Year End Summary</td><td>1/15/2015</td><td>AZ23045</td></tr>
							<tr><td class="text-center">3444342</td><td>Tax record 2014</td><td>3/11/2015</td><td>AU24783</td></tr>
							<tr><td class="text-center">6735645</td><td>Declaration of finan...</td><td>6/21/2015</td><td>AM23781</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6" id="creditblock">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Credit Cards">
   				<button class="btn btn-sm btn-info">Pay Bills</button>
   			</rd-widget-header>
   			<rd-widget-body>
<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">Card</th><th>Min. Payment</th><th>Balance</th><th>Account #</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">Master Card</td><td>$126</td><td>$1,100.45</td><td>8434-xxxx-xxxx</td></tr>
							<tr><td class="text-center">American Express</td><td>$26</td><td>$206.23</td><td>12343-XX-XXXX</td></tr>
						</tbody>
					</table>
        		</div>

   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6" id="loanblock">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loans">
				<button class="btn btn-sm btn-info">Pay Bills</button>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading>Loading Loans</rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>