<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Roy's Checking  #3894034">
        <a href="#">View Account details</a>
      </rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr><td>Wendy's Resturant</td><td>125 Houston Stree, Austin TX 78045</td><td><span>$8.95</span></td></tr>
              <tr><td>Velero Gas</td><td>2838 Austin Highway, Austin TX 78044</td><td><span >$40.50</span></td></tr>
              <tr><td>Whole Foods Fine Foods</td><td>326 3rd Ave. Austin TX 78045</td><td><span  >$126.45</span></td></tr>
              <tr><td>Joe's Music Barn</td><td>181 Capital Street, Austin, TX 78055</td><td><span >$9.99</span></td></tr>
              <tr><td>Austin City Limits</td><td>300 3rd Ave. Austin TX 78045</td><td><span >$20.22</span></td></tr>
              <tr><td>Netflix online movie ser...</td><td>PO Box 2828, San Fran...</td><td><span >$12.15</span></td></tr>
              <tr><td>Velero Gas </td><td>2838 Austin Highway, Austin TX 78044</td><td><span >$49.50</span></td></tr>
              <tr><td>Corner Store at Velero</td><td>2838 Austin Highway, Austin TX 78044</td><td><span >$1.95</span></td></tr>
              <tr><td>Whole Foods Fine Foods</td><td>326 3rd Ave. Austin TX 78045</td><td><span >$124.99</span></td></tr>
              <tr><td>Amazon Online Video</td><td>PO Box 192938, Seattle WA 90045</td><td><span >$14.99</span></td></tr>
              <tr><td>McDonalds</td><td>18343 FM 1283, Mico TX, 78056</td><td><span >$4.91</span></td></tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
  <div class="col-lg-6" >
     <rd-widget >
      <rd-widget-header icon="fa-tasks" title="Account Details"></rd-widget-header>
      <rd-widget-body classes="small" >
       <div class="">
         <div class="row">
            <div class="col-lg-6">Account Number</div>
            <div class="col-lg-6"> #3894034</div>
          </div>
         <div class="row">
             <div class="col-lg-6">Routing Number</div>
             <div class="col-lg-6"> 98764738</div>
         </div>
         <div class="row">
            <div class="col-lg-6">Account Balance</div>
            <div class="col-lg-6"> $1,298.45</div>
        </div>
         </div>
           
      </rd-widget-body>

      </rd-widget>
    
  </div>
</div>
